/accmap.dat
/behavior_packs
/development_skin_packs
/development_behavior_packs/kurokumaft_b
/development_resource_packs/kurokumaft_r
/minecraftpe
/minecraftWorlds
/resource_packs
/skin_packs
/ud1238713755.dat
/ud320665064.dat
/world_templates